Django==3.2.25
redis==4.6.0
djangorestframework==3.12.4
psycopg2-binary==2.9.9
channels==3.0.5
channels-redis==3.4.1
python-dotenv==1.0.0
dj-database-url==2.1.0
daphne==3.0.2
django-redis==5.4.0
celery[redis]==5.3.4
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.1
geoip2==4.7.0
